* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-weight: 300;
	font-size: 20px;
	font-family: 'Lato', 'ariel', sans-serif;
	text-rendering: optimizeLegibility;
	/* overflow-x: hidden; */
}

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(../img/hero.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	padding: 0 5%;
}

footer {
	background-color: #333;
	padding: 50px;
	font-size: 80%;
}

section {
	padding: 80px 0;
}



#works,
#plans {
	background-color: #f4f4f4;
}

.client {
	background-color: black;
	color: white;
}

#flexible {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

#img_aff {
	margin-top: 20px;
	width: 100px;
}

#img_non_aff {
	display: none;
	width: 50px;
	margin: 5px 0;
}

.menu {
	list-style-type: none;
	margin-top: 55px;
}

.list_nav {
	display: inline-block;
	margin-left: 40px;
	text-transform: uppercase;
}

.lien:link,
.lien:visited {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.lien:hover,
.lien:active {
	border-bottom: 1px solid orange;
	padding: 8px 0;
}

h1 {
	margin: 0;
	margin-bottom: 20px;
	color: white;
	font-size: 240%;
	word-spacing: 4px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h2 {
	display: inline;
	text-transform: uppercase;
	font-size: 180%;
	word-spacing: 2px;
	font-weight: 300;
	letter-spacing: 1px;
}

h3 {
	font-size: 110%;
	font-weight: 300;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.soul {
	border-bottom: 1px solid orange;
	padding: 30px 0;
}

p {
	font-weight: 300;
	font-size: 20px;

}

.para {
	width: 70%;
	margin-top: 60px;
	margin-bottom: 30px;
	margin-left: 15%;
}

#btn {
	position: absolute;
	top: 35%;
}

.bouton {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.visi {
	background-color: #e67e22;
	border: 1px solid #e67e22;
	color: white;
	margin-right: 15px;
}

.cache {
	border: 1px solid #e67e22;
	color: #e67e22;
}

.cache:hover {
	background-color: #cf6d17;
	color: white;
}

.visi:hover {
	background-color: #cf6d17;
}

.sticky {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: -webkit-sticky;
	position: sticky;
	background-color: white;
	box-shadow: 0 2px 2px #efefef;
	top: 0px;
	z-index: 4;
	margin: 0 auto;
	padding-right: 5%;
}

.sticky #img_aff {
	display: none;
}

.sticky #img_non_aff {
	display: block;
	margin-left: 60px;
}

.sticky .lien:link {
	color: black;
}

.sticky .lien:visited {
	color: black;
}

.sticky ul {
	margin-top: 15px;
}

.block {
	display: flex;
	justify-content: space-between;
	margin: 60px;
}

.bl_center {
	text-align: center;
}

.bordure p {
	font-size: 90%;
	line-height: 145%;
}

.img01 {
	margin-bottom: 10px;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.photo {
	opacity: 0.7;
	width: 100%;
	height: auto;
	/* transform: scale(1.15); */
	overflow: hidden;
}

.photo:hover {
	opacity: 1;
	transform: scale(1.03);
}

.block_work {
	display: flex;
	margin-top: 60px;
	margin-left: 5%;
}

.text_work {
	margin-top: 60px;
	margin-left: 5%;
}

.pos {
	margin-top: 30px;
	text-align: right;
	padding-right: 3%;
}

.ipho {
	width: 40%;
}

.bl_chiffre {
	display: flex;
	margin-bottom: 40px;
}

.chiffre {
	color: #e67e22;
	border: 2px solid #e67e22;
	border-radius: 50%;
	height: 55px;
	width: 55px;
	text-align: center;
	padding: 5px;
	font-size: 150%;
	margin-right: 25px;
}

.btn_work img {
	height: 50px;
	width: auto;
	margin-right: 10px;
}

.grid_cities {
	margin-top: 70px;
	display: grid;
	grid-template-columns: 60px 1fr 1fr 1fr 1fr 60px;
	grid-column-gap: 2rem;
}

.img02 {
	width: 100%;
}

.un {
	grid-column-start: 2;
	grid-column-end: 2;

}

.deux {
	grid-column-start: 3;
	grid-column-end: 3;

}

.trois {
	grid-column-start: 4;
	grid-column-end: 4;

}

.quatre {
	grid-column-start: 5;
	grid-column-end: 5;

}

.lien_cities:link,
.lien_cities:visited {
	color: #e67e22;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #e67e22;
	transition: border-bottom 0.2s, color 0.2s;
}

.lien_cities:hover,
.lien_cities:active {
	color: #555;
	border-bottom: 5px solid transparent;
}

blockquote {
	padding: 2%;
	margin-top: 70px;
	font-style: italic;
	line-height: 145%;
	position: relative;
}

blockquote::before {
	content: "\201c";
	font-size: 500%;
	display: block;
	position: absolute;
	top: -5px;
	left: -5px;
}

blockquote::after {
	content: '\201D';
}

cite {
	font-size: 90%;
	margin-top: 25px;
	display: block;
}

cite img {
	height: 45px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: middle;
}

.plans_font {
	background-color: white;
}

.plans_font div {
	padding: 15px;
	border-bottom: 1px solid #f4f4f4;
}

.plan-price {
	font-size: 300%;
	margin-bottom: 10px;
	font-weight: 100;
	color: #e67e22;
}

.fin {
	font-size: 30%;
	font-weight: 300;
}

.plan-price-meal {
	font-size: 80%;
}

.posi {
	display: list-item;
	list-style-type: none;
	padding: 15px 0;
}

.plans_font div:last-child {
	text-align: center;
}

.placement {
	margin-top: 70px;
}

.pos_form {
	display: flex;
	justify-content: space-around;
	margin: 15px;
}

.taille_g {
	width: 30%;
}

.taille_d {
	width: 70%;
}

.contact-form {
	width: 55%;
	margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

textarea {
	height: 100px;
}

input[type=checkbox] {
	margin: 10px 5px 10px 0;
}

.flex_foot {
	display: flex;
	justify-content: space-between;
}


.footer-nav li,
.social-links li {
	display: inline-block;
	margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
	margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
	text-decoration: none;
	border: 0;
	color: #888;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
	color: #ddd;
}

.social.links li a:link,
.social.links li a :visited {
	font-size: 170%;
}

.facebook,
.twitter,
.google,
.insta {
	-webkit-transition: color;
	transition: color 0.2s;
}

.facebook:hover {
	color: #3b5998;
}

.twitter:hover {
	color: #00aced;
}

.google:hover {
	color: #dd4b39;
}

.insta:hover {
	color: #517fa4;
}

footer p {
	color: #888;
	text-align: center;
	margin-top: 20px;

}